body
{

	margin: 0px;
	padding: 0px;
	overflow: scroll;
}
.head-wrapper
{
	margin-left: 250px;
	width: 960px;
	/*height: 70px;
	border-style: dashed;
	border-color: green;*/
}

#name
{ 
background-color:black;
color: white;
text-align:center;
padding: 10px;
width: 200px;
/*margin-left: 250px;*/
float: left;
margin-bottom: -1;
}


#navbar
{
	
	margin-top: 25px;
	float:right;
	font-size: 20px;
		
	
}


a:link {
  color: black;
}

a:visited {
color: grey;
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
}




.body-wrapper
{
	width: 960px;
	
	margin-left: 250px;
}





#entire
{
	
	width: 100%;
	height: 1000px;
	background-image:url(../images/gradient_squares/gradient_squares/gradient_squares.png);
	
	clear: both;
	
	
}

.words
{
	
}

#main
{
	
	width: 600px;
	min-height: 550px;
	background-color: white;
	float: left;
	margin-top: 40px;
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
	padding: 25px;
	
	-moz-box-shadow: 5px 5px 5px 5px #777777;
	-webkit-box-shadow: 5px 5px 5px 5px #777777;
	-ms-box-shadow: 5px 5px 5px 5px #777777;
	
	-o-box-shadow: 5px 5px 5px 5px #777777;
	

}


.apit 
	{
display: inline-block;

	}


#side {
	
	margin-top: 40px;
	/*margin-left: 40px;*/
	width: 230px;
	background: white;
	float: right;
	padding:20px;
	text-align:center;
	
	-moz-box-shadow: 5px 5px 5px 5px #777777;
	-webkit-box-shadow: 5px 5px 5px 5px #777777;
	-ms-box-shadow: 5px 5px 5px 5px #777777;
	
	-o-box-shadow: 5px 5px 5px 5px #777777;
    
	
	
}



#copyright
{
	
	border-top-style: solid;
	border-color: blue;
	border-top-width: 20px;
	text-align: center;
	height:250px;
	width:100%;
	background:black;
	position:absolute;
	margin-bottom: 0px;
	color: red;
	clear: both;
}

#formtext
{

	color: blue;
	font-size: 24px;


}
#wordsPort
{
	font-size:16px;
	color:#F9F8F8;
	
	position:relative;
	display:inline-block;
	text-align: center; 

	
}
h3
{
	position: absolute;
    top: 100px;
    width: 100%;
    
    padding: 20px 0px 20px 0px;
    color: white;
    background-color: grey;
    opacity: 0.8;
    font-size: 20px;
	
	
	
	
	}
	
	
.contactWord

{
	
	font-family:atomic-age;
	font-size:44px;
	
}